.intro{
	display: block;
	margin: 0 auto;
	position: relative;
	width: 1100px;

}
.intro p{
	color: #fff;
	font-family: helvetica;
	line-height: 70px;
	text-align: center;
}

.box1{
	width:100px;
	height:100px;
	border: solid 3px #999;
	border-radius: 15px;
	background:rgba(0,0,0,0.2);
	position:relative;
	top:300px;
	left:400px;
	-webkit-animation:	movingbox1 4s forwards;
	-moz-animation:		movingbox1 4s forwards;
	-ms-animation:		movingbox1 4s forwards;
	-o-animation:		movingbox1 4s forwards;
	animation:			movingbox1 4s forwards;
}

.box2{
	width:100px;
	height:100px;
	border: solid 3px #999;
	border-radius: 15px;
	background:rgba(0,0,0,0.2);
	position:absolute;
	top:300px;
	left:600px;
	-webkit-animation:	movingbox2 4s forwards;
	-moz-animation:		movingbox2 4s forwards;
	-ms-animation:		movingbox2 4s forwards;
	-o-animation:		movingbox2 4s forwards;
	animation:			movingbox2 4s forwards;
}

.box3{
	width:100px;
	height:100px;
	border: solid 3px #999;
	border-radius: 15px;
	background:rgba(0,0,0,0.2);
	position:absolute;
	top:300px;
	left:400px;
	-webkit-animation:	movingbox3 4s forwards;
	-moz-animation:		movingbox3 4s forwards;
	-ms-animation:		movingbox3 4s forwards;
	-o-animation:		movingbox3 4s forwards;
	animation:			movingbox3 4s forwards;
}
.box4{
	width:100px;
	height:100px;
	border: solid 3px #999;
	border-radius: 15px;
	background:rgba(0,0,0,0.2);
	position: absolute;
	top:300px;
	left:600px;
	-webkit-animation:	movingbox4 4s forwards;
	-moz-animation:		movingbox4 4s forwards;
	-ms-animation:		movingbox4 4s forwards;
	-o-animation:		movingbox4 4s forwards;
	animation:			movingbox4 4s forwards;
}
@keyframes movingbox1{
	/*
	0%{top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px; 	left:290px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px; 	left:500px; 	opacity:0;}	/* Orignally 100% */
}
@-webkit-keyframes movingbox1{
	/*
	0%{top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px; 	left:290px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px; 	left:500px; 	opacity:0;}	/* Orignally 100% */
}
@-moz-keyframes movingbox1{
	/*
	0%{top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px; 	left:290px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px; 	left:500px; 	opacity:0;}	/* Orignally 100% */
}
@-ms-keyframes movingbox1{
	/*
	0%{top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px; 	left:290px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px; 	left:500px; 	opacity:0;}	/* Orignally 100% */
}
@-o-keyframes movingbox1{
	/*
	0%{top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px; 	left:290px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px; 	left:500px; 	opacity:0;}	/* Orignally 100% */
}
@keyframes movingbox2{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:430px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-webkit-keyframes movingbox2{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:430px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-moz-keyframes movingbox2{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:430px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-ms-keyframes movingbox2{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:430px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-o-keyframes movingbox2{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:200px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:430px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@keyframes movingbox3{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px;	left:570px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-webkit-keyframes movingbox3{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px;	left:570px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-moz-keyframes movingbox3{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px;	left:570px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-ms-keyframes movingbox3{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px;	left:570px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-o-keyframes movingbox3{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:400px;}				/* Orignally 70% */
	70%	{top:200px;	left:570px;	opacity:1;}	/* Orignally 85% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@keyframes movingbox4{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:710px;}				/* Orignally 85% */
	90%	{opacity:1;}						/* Orignally 95% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-webkit-keyframes movingbox4{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:710px;}				/* Orignally 85% */
	90%	{opacity:1;}						/* Orignally 95% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-moz-keyframes movingbox4{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:710px;}				/* Orignally 85% */
	90%	{opacity:1;}						/* Orignally 95% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-ms-keyframes movingbox4{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:710px;}				/* Orignally 85% */
	90%	{opacity:1;}						/* Orignally 95% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}
@-o-keyframes movingbox4{
	/*
	0% {top:150px;}
	10%{top:350px;	left:400px;}
	20%{top:350px;	left:600px;}
	30%{top:150px;	left:600px;}
	40%{top:150px;	left:400px;}
	*/
	0%	{top:300px;	left:500px;}				/* Orignally 50% */
	40%	{top:400px;	left:600px;}				/* Orignally 70% */
	70%	{top:200px;	left:710px;}				/* Orignally 85% */
	90%	{opacity:1;}						/* Orignally 95% */
	100%{top:200px;	left:500px;	opacity:0;}	/* Orignally 100% */
}

#afterIntro{
	opacity: 0;
	-webkit-animation:	fadein 1.5s forwards; /* Safari and Chrome */
	-moz-animation:		fadein 1.5s forwards; /* Firefox */
	-ms-animation:		fadein 1.5s forwards; /* Internet Explorer */
	-o-animation:		fadein 1.5s forwards; /* Opera */
	animation:			fadein 1.5s forwards;
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	-ms-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

#frontpage{
	opacity: 0;
	-webkit-animation:	fadein 1.5s forwards; /* Safari and Chrome */
	-moz-animation:		fadein 1.5s forwards; /* Firefox */
	-ms-animation:		fadein 1.5s forwards; /* Internet Explorer */
	-o-animation:		fadein 1.5s forwards; /* Opera */
	animation:			fadein 1.5s forwards;
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-ms-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}