@keyframes fadein {
	0%	{opacity:0;}
	100%{opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	0%	{opacity:0;}
	100%{opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
	0%	{opacity:0;}
	100%{opacity:1;}
}
@-ms-keyframes fadein { /* Internet Explorer */
	0%	{opacity:0;}
	100%{opacity:1;}
}
@-o-keyframes fadein { /* Opera */
	0%	{opacity:0;}
	100%{opacity:1;}
}

@font-face {
	font-family: custom_font;
	src: url('fonts/Patinio Contexto.ttf');
}

#border-top{
	position: fixed;
	height: 3px;
	width: 100%;
	background: rgb(255,69,0); /*#FF4500*/
}

body{
	margin: 0;
	background-image:url('images/texture.png');
	background-repeat: repeat;
	font-family: 'helvetica neue';
	font-size: 10pt;
}

/*--- Link Behavior ---*/
a:link, a:visited
{color: #ff4500;	text-decoration:none;}
a:hover, a:visited:hover
{color: #fff;	text-decoration:none;!important}

p {
	color: #222;
	line-height: 36px;
	font-size: 16px;
	opacity: 0;
	-webkit-animation:	fadein .75s forwards; /* Safari and Chrome */
	-moz-animation:		fadein .75s forwards; /* Firefox */
	-ms-animation:		fadein .75s forwards; /* Internet Explorer */
	-o-animation:		fadein .75s forwards; /* Opera */
	animation:			fadein .75s forwards;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

p.uppercase {
	text-transform:uppercase;
}

h1 {
	font-family: 'custom_font';
}

.content-wrap{
	display: block;
	margin: 0 auto;
	min-height: 1250px;
	width: 1250px;
}

header {
	margin: 0 128px;
	width: 740px;
}

.main {
	display: block;
	width: 1250px;
	position: relative;
	margin: 100 auto;
}

.content {
	width: 1000px;
	margin: 0 auto;
}

.about {
	margin: 0 auto;
	width: 740px;
}

.portfolio {
	padding: 30px 0 10px;
	width: 100%;
}

.portfolio h3 {
	text-align: center;
	font-size: 36px;
	font-family: 'custom_font';
	color: #555;
	padding: 0;
	margin: 0;
}

.line {
	max-width: 740px;
	margin: 0 auto;
}

.button {
	border: 1px solid #555;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #aaa;
	display: inline-block;
	height: 100px;
	width:  200px;
	margin: 20px;
}


table{
	position: relative;
	vertical-align: top;
	width: 1000px;
	margin: 0 auto;
	border-radius: 5px;
}

th{
	align: center;
}

td{
	border: solid 0px #ccc;
}

#about{
	vertical-align: top;
	margin: 0;
	padding: 0;
	width: 300px;
}

#sepTD{
	width: 50px;
}

.separator{
	margin: 0 auto;
	width: 3px;
	height: 400px;
	border-radius: 10px;
	background: rgba(0,0,0,.25);
}

#client1 a img{
	border-radius: 5px;
}

#RC{
	height: 100px;
	display: block;
	border-radius: 5px;
	background-image: url('images/Reinvestment Calculator Button.png');
}

#RC:hover{
	-webkit-animation:RCHoverFade .5s forwards;
	-moz-animation:RCHoverFade .5s forwards;
	-ms-animation:RCHoverFade .5s forwards;
	-o-animation:RCHoverFade .5s forwards;
	animation:RCHoverFade .5s forwards;
}

@keyframes RCHoverFade{
	0%{background-image: url('images/Reinvestment Calculator Button.png');}
	100%{background-image: url('images/RC Live Now.png');}
}
@-webkit-keyframes RCHoverFade{
	0%{background-image: url('images/Reinvestment Calculator Button.png');}
	100%{background-image: url('images/RC Live Now.png');}
}
@-moz-keyframes RCHoverFade{
	0%{background-image: url('images/Reinvestment Calculator Button.png');}
	100%{background-image: url('images/RC Live Now.png');}
}
@-ms-keyframes RCHoverFade{
	0%{background-image: url('images/Reinvestment Calculator Button.png');}
	100%{background-image: url('images/RC Live Now.png');}
}
@-o-keyframes RCHoverFade{
	0%{background-image: url('images/Reinvestment Calculator Button.png');}
	100%{background-image: url('images/RC Live Now.png');}
}

#Project3{
	height: 100px;
	display: block;
	background-image: url('images/NumToWords Button.png');
	border-radius: 5px;
}

#Project3:hover{
	-webkit-animation:Project3HoverFade .5s forwards;
	-moz-animation:Project3HoverFade .5s forwards;
	-ms-animation:Project3HoverFade .5s forwards;
	-o-animation:Project3HoverFade .5s forwards;
	animation:Project3HoverFade .5s forwards;
}

@keyframes Project3HoverFade{
	0%{background-image: url('images/NumToWords Button.png');}
	100%{background-image: url('images/NumToWords Live Now.png');}
}
@-webkit-keyframes Project3HoverFade{
	0%{background-image: url('images/NumToWords Button.png');}
	100%{background-image: url('images/NumToWords Live Now.png');}
}
@-moz-keyframes Project3HoverFade{
	0%{background-image: url('images/NumToWords Button.png');}
	100%{background-image: url('images/NumToWords Live Now.png');}
}
@-ms-keyframes Project3HoverFade{
	0%{background-image: url('images/NumToWords Button.png');}
	100%{background-image: url('images/NumToWords Live Now.png');}
}
@-o-keyframes Project3HoverFade{
	0%{background-image: url('images/NumToWords Button.png');}
	100%{background-image: url('images/NumToWords Live Now.png');}
}

#GTW{
	height: 100px;
	display: block;
	background-image: url('images/GTW-Button.png');
	border-radius: 5px;
}

#GTW:hover{
	-webkit-animation:GTWHoverFade .5s forwards;
	-moz-animation:GTWHoverFade .5s forwards;
	-ms-animation:GTWHoverFade .5s forwards;
	-o-animation:GTWHoverFade .5s forwards;
	animation:GTWHoverFade .5s forwards;
}

@keyframes GTWHoverFade{
	0%{background-image: url('images/GTW-Button.png');}
	100%{background-image: url('images/GTWLiveNow.png');}
}
@-webkit-keyframes GTWHoverFade{
	0%{background-image: url('images/GTW-Button.png');}
	100%{background-image: url('images/GTWLiveNow.png');}
}
@-moz-keyframes GTWHoverFade{
	0%{background-image: url('images/GTW-Button.png');}
	100%{background-image: url('images/GTWLiveNow.png');}
}
@-ms-keyframes GTWHoverFade{
	0%{background-image: url('images/GTW-Button.png');}
	100%{background-image: url('images/GTWLiveNow.png');}
}
@-o-keyframes GTWHoverFade{
	0%{background-image: url('images/GTW-Button.png');}
	100%{background-image: url('images/GTWLiveNow.png');}
}

#GTWGap{
	height: 50px;
}

.GTW main{
	position: relative;
}

.nowLive{
	padding-left: 100px;
}

.twitter-timeline{
	position: relative;
	width: 1000px;
	display: block;
	margin: 0 auto
}