html {
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    height: 100%;
    margin: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

body .no-overflow {
    overflow: hidden;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

a:link {color: #555;}

a:visited {color: #555;}

/* mouse over link */
a:hover {color: #999;}

/* selected link */
a:active {color: #999;}

.content {
    min-height: 500px;
    padding: 0 5%;
}

.static {
    margin-bottom: 50px;
    margin-top: -325px;
    position: absolute;
    top: 50%;
}

.name {
    font-size: 2em;
    margin-bottom: 0;
    text-transform: uppercase;
}
.name a {text-decoration: none;}
.name a:link, .name a:visited {color: #000;}
.name a:hover {color: #555;}

.handle {
    color: #999;
    font-size: 1.35em;
    margin-top: 0;
}

.hide {
    display: none;
}

.recently-wrote li {
    margin: 8px auto;
}

.goodreads-rss .feed-title {display: none;}
.goodreads-rss .feed-item-title {
    display: list-item;
    margin: 8px auto;
}
.goodreads-rss .feed-item-title a {border-bottom: none !important;}

.other {padding: 0}
.other a {text-decoration: none;}
.other a:hover {
    border-bottom: solid 2px;
    padding-bottom: 5px;
}
.other li {
    list-style-type: none;
    padding: 10px 0;
}


@media screen and (min-width: 600px) {
    .other li {
        display: inline-block;
        padding: 10px 15px;
    }
}

.other-list ul {padding:0;}
.other-list li {display:block;}
