html, body {
    font-size: 100%;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    width: 100%;
}
header {
    background: #104E8B;
    padding: 10em 0;
}
header h1, header h3 {
    color: #FAFAFA;
}

header h1 {
    font-size: 3em;
}